/** @format */

.gridImageContainer {
  display: grid;
  place-items: center;
  height: 100vh;
}
.gridImage {
  display: grid;
  grid-template-areas:
    "a a c"
    "a a b";
  grid-template-columns: auto minmax(0, 1fr) minmax(15em, 1fr) minmax(15em, 1fr);
  grid-gap: 1em;
  .gallery__img {
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  .gridImage {
    grid-template-columns: auto 1fr 1fr;
  }
}
.imgIcon:not(:first-child) {
  margin-top: 100rem; /* Adjust the margin as needed */
}
// .imgIcon {
//   margin-right: 2rem;
//   width: 2rem;
// }
