/** @format */

@import "./variables.scss";
@import "./responsive.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

.grayColor {
  color: $GrayColor;
}

.blueColor {
  color: $BlueColor;
}

.darkColor {
  color: $DarkColor;
}

.flex {
  display: flex;
  align-items: center;
}

.mainContainer {
  margin-left: 240px !important;
  margin-inline: 10px;
}

@media (max-width: 600px) {
  .mainContainer {
    margin-left: 0 !important;
    margin-inline: 10px;
  }
}

.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}
//? *************** Navbar ***************

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  margin-top: 27px;
  background-color: #f8f9fb !important;
  border-radius: 16px !important;
  box-shadow: none !important;

  .navAvatar {
    margin-left: auto !important;
  }
}

.nav-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navInfo {
  display: flex;
  flex-direction: column;
}
//! *************** Toolbar Drawer ***************

.css-hyum1k-MuiToolbar-root {
  min-height: 30px !important;
}

.MuiDrawer-paper {
  background-color: #203fc7 !important;
  .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
    padding-left: 25px;
    color: white !important;
    opacity: 0.65;

    &:hover {
      opacity: 1;
      background-color: rgba(26, 27, 30, 0.17);
    }
  }

  .css-cveggr-MuiListItemIcon-root {
    color: white;
    min-width: 40px !important;
  }
}

.active {
  background-color: rgba(26, 36, 63, 0.17);
  border-left: 4px solid rgb(2, 2, 158);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 4px 4px 4px,
    rgba(145, 145, 145, 0.173) 0px 1px 1px 4px;
  animation: sideAni 2s;
  .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
    color: white !important;
    opacity: 1;
  }
  a {
    color: white !important;
    transition: all 0.4s;
  }
}
@keyframes sideAni {
  50% {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 0px, rgba(0, 0, 0, 0.23) 0px 0px 0px;
  }
}
//! *************** Authentication ***************

.authLayout {
  width: 95%;
  margin: auto;
  border-radius: 10px;
  padding: 30px !important;
  line-height: 0.1;
}
.auth {
  background-size: cover;
  background-position: center;
  border-radius: 20px;

  font-family: sans-serif;
  display: flex;
  justify-content: left;
  padding: 20px 30px;
  align-items: end;
  color: #fff;
}
.auth-background {
  background-image: url("../Assets/Images/bg1.png");
  height: 80vh;
}
.auth-background2 {
  background-image: url("../Assets/Images/bg2.png");
  height: 90%;
}
.auth-background3 {
  background-image: url("../Assets/Images/bg3.png");
  height: 80vh;
}
.auth-background4 {
  background-image: url("../Assets/Images/bg1.png");
  height: 90%;
}
.auth-desc h3 {
  font-size: 30px;
}

.auth-input {
  width: 100%;
  margin: 15px 0 !important;
}

.loadingButton {
  background-color: #1976d2 !important;
  span {
    color: white !important;
  }
}
.imagesBtn {
  margin-top: 20px !important;
}

.btnContainer {
  margin-top: 40px !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

//? *************** TableHeader ***************
.header {
  margin-top: 2em;
  .headerContainer {
    display: flex;
    justify-content: space-between;

    .biggerSize {
      font-size: 18px;
      line-height: normal;
    }

    .smallerSize {
      font-size: 14px;
      letter-spacing: none;
    }

    .linkStyle {
      text-decoration: none;
      color: white;
    }
  }
}

//! *************** Table ***************

.dataGrid {
  margin-top: 2em;
  padding-inline: 20px;
  padding-block: 10px;
  background-color: white;

  .MuiDataGrid-toolbarContainer {
    flex-direction: row-reverse;
  }
}

.img-table {
  width: 35px;
  height: 35px;
  border-radius: 0.5em;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.3);
  }
}

//! *************** Form ***************
.formContainer {
  margin-top: 50px !important;
  width: 70%;
  margin: auto;

  .roomNumber {
    display: flex;
    width: 100%;
    margin: auto;
  }

  // .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  //   border-radius: 8px;
  //   background: #f7f7f7;
  //   color: #333;
  //   }

  .middleInputs {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    .price,
    .capacity,
    .discount,
    .facilities {
      width: 48%;
    }
  }
}

//! *************** ChangePassword ***************
.changePasswordBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 2px solid #1976d2;
  border-radius: 20px;
  box-shadow: 24px;
  padding: 30px;
}

.loadingButton {
  background-color: #1976d2 !important;

  span {
    color: white !important;
  }
}
.tableStyle {
  height: 27rem !important;
}
// popup
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border: rgba(21, 3, 177, 0.505) 2px solid !important;
  animation: shadowAni 5s;
  box-shadow: rgba(22, 22, 22, 0.904) 5px 1px 1px !important;
  animation: moveInBottom 1s;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper:hover {
  box-shadow: rgb(3, 62, 255) 2px 0px 1px !important;
}
@keyframes moveInBottom {
  50% {
    transform: translateY(-5%) rotateY(10deg);
  }

  100% {
    transform: translatex(0px);
  }
}

//ToDo **************************** Landing-Portal ****************************

.userContainer {
  padding-top: 50px;
  padding-inline: 70px;
}

//! ************** NavBar-Portal **************

.nav {
  position: static !important;
  border-bottom: 1px solid #e5e5e5;
  padding: 13px;
  box-shadow: none !important;
  font-family: "Poppins", sans-serif;

  .subNav {
    // font-weight: 400 !important;
    flex-grow: 1;
    margin-left: 30px;
  }

  .navList {
    display: flex !important;
    align-items: center;
    gap: 20px;

    .navLink {
      @extend .darkColor;
      font-weight: 400 !important;
      text-decoration: none;
      font-size: 18px;
    }
    .activeLink {
      color: $BlueColor !important;
    }
    .navBtn {
      border-radius: 4px;
      background: #3252df !important;
      box-shadow: 0px 8px 15px 0px rgba(50, 82, 223, 0.3) !important;
      padding-inline: 25px !important;
    }

    .navBtnOut {
      border-radius: 4px;
      box-shadow: 0px 8px 15px 0px rgba(223, 70, 50, 0.3) !important;
      padding-inline: 25px !important;
    }

    .navBtnSign {
      border-radius: 4px;
      background: #ddcd1b !important;

      box-shadow: 0px 8px 15px 0px rgba(223, 220, 50, 0.632) !important;
      padding-inline: 25px !important;
    }
  }
}

// .css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover {
//   background-color: rgb(255 0 0 / 15%);
// }

//! ************** Footer **************

.footerContainer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-inline: 70px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainPart {
  padding-bottom: 20px;
}

.subPara {
  @extend .grayColor;
  max-width: 250px;
}

.listHead {
  @extend .darkColor;
  padding-top: 0 !important;
  font-size: 20px !important;
  font-weight: 600;
}

.listChild {
  @extend .grayColor;
  padding-bottom: 0 !important;
}

.FooterCopyRight {
  @extend .grayColor;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

//? ************** Landing **************

.landingSec {
  display: flex;
  justify-content: space-between;
  align-items: start;

  .leftCon {
    .title {
      @extend .darkColor;
      font-family: "Poppins", sans-serif;
      max-width: 450px;
      font-size: 42px;
      font-weight: 700;
      line-height: normal;
    }
    .subTitle {
      @extend .grayColor;
      font-family: "Poppins", sans-serif;
      max-width: 530px;
      line-height: 28px;
    }

    .bookingTitle {
      @extend .darkColor;
      margin-top: 20px;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-weight: 500;
    }

    .subBookingTitle {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin-left: 5px;
      margin-top: 10px;
    }
  }

  .exploreCon {
    margin-top: 15px;
    margin-left: 5px;

    .css-i4bv87-MuiSvgIcon-root {
      font-size: 30px !important;
    }

    .capacityCon {
      margin-top: 20px;
      display: flex;
      align-items: center;
      .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
        width: 25% !important;
        margin: auto;
        padding: 16.5px 60px;
      }
    }
  }

  .rightCon {
    position: relative;
    padding-right: 40px;
    .LandingImg {
      position: relative;
      border-radius: 100px 15px 15px 15px;
    }

    &::after {
      content: "";
      position: absolute;
      border-radius: 100px 15px 15px 15px;
      top: 10%;
      left: 10%;
      right: 0px;
      bottom: -10%;
      border: 2px solid #e5e5e5;
      z-index: -1;
    }
  }

  .submitExplore {
    margin-top: 50px !important;
    margin-left: 10px;
    border-radius: 4px;
    background: #3252df !important;
    box-shadow: 0px 8px 15px 0px rgba(50, 82, 223, 0.3) !important;
    padding-inline: 100px !important;
    text-transform: none !important;
  }
}

.caleBtn {
  background-color: #1976d2 !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 15px !important;
  padding-block: 8px !important;
  margin-right: 10px !important;
  margin-left: 5px !important;
  color: white !important;
}
.caleBtnDiscernment {
  @extend .caleBtn;
  background-color: #d32f2f !important;
}
.calendarField {
  display: inline-block !important;
  margin-right: 10px !important;

  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 16.5px 60px !important;
    margin: auto;
  }
}

.capacityField {
  @extend .calendarField;
  margin-left: 10px !important;
}
//? ****************************ViewSection-Landing*********************************
.viewSec {
  margin-top: 50px;

  .adsTitle {
    @extend .darkColor;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
  }
}

.grid {
  // width: 1000px;
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  grid-template-rows: 15rem 15rem;
  grid-template-areas:
    "main - -"
    "main - -";
  gap: 30px 20px;
  justify-content: space-between;

  img {
    width: 100%;
    height: 100%;
  }
}

.main {
  grid-area: main;
  object-fit: fill;
  border-radius: 15px;
}

.here {
  position: relative !important;
  border-radius: 15px;
}

.sliderCon {
  // display: flex;
  justify-content: space-between;
  align-items: center;
}
.RoomPicture {
  object-fit: fill;
  width: 200px;
  height: 200px;

  border-radius: 15px;
}

.discountLayer {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #ff498b;
  color: white;
  width: 120px;
  text-align: center;
  border-radius: 0px 15px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer {
  height: 98%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(32, 63, 199, 0.21);
  border-radius: 15px;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
  transform: translateY(10px);
}

.here:hover .layer {
  opacity: 1;
  transform: translateY(0);
}

.layer .text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  text-align: center;
}

.layer .text h6 {
  font-style: italic;
  font-size: 20px;
  position: relative;
  margin-bottom: 15px;
  color: white;
  transform: translateY(-15px);
  transition: transform 0.5s;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 5px;

  .opacity:hover {
    background-color: rgb(255 0 0 / 15%);
  }

  .color {
    color: white !important;
  }
  svg {
    cursor: pointer;
  }
}

.here:hover h6,
.here:hover .icons svg {
  transform: translateY(0);
}

.bookingTitle {
  @extend .adsTitle;
}

.iconBtn {
  padding: 0 !important;
  width: 24px !important;
}

.slick-slide {
  width: 200px !important;
}

.slick-track {
  display: flex;
  gap: 70px;
}

//! ****************************Explore Page*********************************

.exploreCom {
  font-family: "Poppins", sans-serif;

  .roomCon {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.title {
  @extend .darkColor;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 36px !important;
  font-weight: 600 !important;
}

.subTitle {
  @extend .darkColor;
  font-family: "Poppins", sans-serif;
  font-size: 24px !important;
  font-weight: 500 !important;
  margin-top: 20px !important;
}

//! ****************************RoomDetails Page*********************************

.roomDetailsCon {
  font-family: "Poppins", sans-serif;
  .roomImages {
    margin-top: 20px;
  }
  .gridDetails {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 15rem 15rem;
    grid-template-areas:
      "image - "
      "image - ";
    gap: 30px 20px;
    justify-content: space-between;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: 15px;
    }

    .image {
      grid-area: image;
      object-fit: fill;
      border-radius: 15px;
    }
  }

  .roomDetailsBooking {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    .description {
      @extend .grayColor;
      max-width: 730px;
      font-size: 16px;
      font-weight: 300;
      line-height: 200%;
      word-spacing: 1.8px;
      margin-bottom: 5px;
    }

    .roomFacilities {
      display: flex;

      justify-content: space-between;
      column-gap: 60px;
      row-gap: 20px;
      align-items: center;
      max-width: 650px;
      flex-wrap: wrap;
      margin-top: 20px;
      .facilities {
        display: flex;
        flex-direction: column;

        .facilitiesIcon {
          width: 50px;
        }
        .mainDec {
          @extend .darkColor;
          font-weight: bold;
        }
        .subDec {
          @extend .grayColor;
          font-size: 16px;
        }
      }
    }

    .roomDetailsBook {
      .roomDetailsCard {
        padding-right: 15px;
        padding-left: 60px;
        padding-block: 50px;

        .cardContent {
          .bookingCon {
            @extend .darkColor;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 15px;
          }
          .bookingPrice {
            color: #1abc9c;
            font-size: 36px;
            font-weight: 500;
          }
          .priceFor {
            @extend .grayColor;
            font-size: 36px;
            font-weight: 275;
          }
          .bookingDiscount {
            color: #ff1612;
            font-weight: 500;
          }
          .bookingTitle {
            @extend .darkColor;
            margin-top: 150px;
            font-family: "Poppins", sans-serif;
            margin-bottom: 10px;
          }
        }

        .submitBooking {
          @extend .flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          .submitBtn {
            background-color: $BlueColor !important;
            width: 70%;
          }
        }
      }
    }
  }
}

.sub {
  font-size: 18px !important;
  font-weight: 300;
}
.path {
  @extend .grayColor;
  font-family: "Poppins", sans-serif !important;
  text-decoration: none;
}

.slash {
  @extend .grayColor;
  font-family: "Poppins", sans-serif !important;
  margin-inline: 10px !important;
}

.subPath {
  color: #152c5b !important;
  font-family: "Poppins", sans-serif !important;
  font-size: clamp(1rem, 2.5vw, 1rem) !important;
  font-weight: 500 !important;
}

#g_a11y_announcement {
  right: 0 !important;
}

//! ****************************Payment Page*********************************
.paymentCon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;
  .leftCon {
    color: white;
  }

  .paymentForm {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

    .cardElement,
    .AddressElement {
      margin-top: 20px;
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    .paymentBtn {
      width: 100%;
      margin-block: 20px;
      background-color: #2196f3;
      color: white;
      padding: 8px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .paymentBtn:hover {
      background-color: #1565c0;
    }
  }
}

.Stepper {
  width: 50%;
  margin: auto;
}
.headerPay {
  @extend .flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;

  .headerTitle {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #152c5b;
    font-size: 36px;
    font-weight: 600;
  }

  .content {
    max-width: 396px;
    color: #b0b0b0;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
  }
}

.backBtn {
  margin-top: 20px !important;
  background-color: #3252df !important;
  color: white !important;
  padding: 8px 20px !important;
  border-radius: 5px !important;
  cursor: pointer;
  transition: background-color 0.3s ease !important;
}

.backBtn:hover {
  background-color: #1565c0 !important;
}

