/** @format */

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2rem 0;
}
.cardImage {
  text-align: start;
  width: 100%;
  max-width: 25rem;
}
.exploreContainer {
  font-family: "Poppins", sans-serif;

  .ExploreImages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2em;
    // @media (min-width: 768px) {
    //   justify-content: start !important;
    // }
  }
}
.titleExplore {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 600 !important;
  font-size: clamp(1rem, 2.5vw, 2rem);
}
.imgExplore {
  justify-content: start !important;
}
